<div class="login-page">
  <div class="login-form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "e-mail" %>
    </div>
    <div class="field">
      <%= f.password_field :password, placeholder: "password", autocomplete: "off" %>
    </div>
    <div class="field">
     <%= f.password_field :password_confirmation, placeholder: "confirmation", autocomplete: "off" %>
    </div>
    <div class="field">
     <%= f.file_field :avatar %>
    </div>
    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
