<div class="sidebar-column">
  <div class="navigation-bar w-nav" data-animation="default" data-collapse="medium" data-contain="1" data-duration="400">
    <div class="w-container">
      <h1><%= link_to "Diary", root_path, class:"logo-link w-nav-brand logo-text" %>  </h1>
      <nav class="navigation-menu w-nav-menu" role="navigation">
        <p class="main-subheading w-hidden-medium w-hidden-small w-hidden-tiny">A secret diary for one person. No visitors and readers. All that is written can read only you.</p>
        <div class="divider w-hidden-medium w-hidden-small w-hidden-tiny"></div>
        <a class="nav-link w-nav-link" href="/about">About</a>
        <a class="nav-link w-nav-link" href="/contact">Profile</a>
        <a><%= link_to 'New post', new_article_path, class:"nav-link w-nav-link" %></a>
        <a><%= link_to "All Posts", root_path, class:"nav-link w-navli-nk" %></a>
        <a class="nav-link w-nav-link" href="/contact">Settings</a>
        <a><%= link_to "Logout", destroy_user_session_path, 
                method: :delete, class:"nav-link w-navli-nk"%> </a>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
</div>s