<%= render 'sidebar' %>

<div class="content">
<% @article.each do |article| %>
<%= paginate @article %>
  <div class="blog-list w-dyn-list">
    <div class="w-dyn-items">
      <div class="w-dyn-item">
        <div class="post-wrapper">
          <a><h1><%= link_to article.title, article_path(article), class: "blog-title-link w-inline-block blog-title" %></h1></a>
          <div class="post-info-wrapper">
            <div class="post-info"><%= article.created_at.strftime("%d-%m-%y")%></div>
            <div class="post-info"> | </div>
            <div class="post-info"><%= raw article.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>
            </div>
          </div>
          <div class="post-summary">
          <%=truncate(article.text, length: 250, escape: false)%>
          </div>
          <a><%= link_to 'Continue reading →', article_path(article), class: "button-round w-button" %>
          </a>
        </div>
      </div>
    </div>
  </div>
<% end %>
  <div class="button-wrapper button-left"><a><%= link_to_previous_page @article, '← Previous', class: "button w-button"%></a></div>
  <div class="button-wrapper button-right"><a><%= link_to_next_page @article, 'Next →', class: "button w-button"%></a></div>
</div>