<%= render 'sidebar' %>

<div class="content">
  <div class="form-wrapper w-form">
    <%= form_with model: @article, local: true do |form| %>
    <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div>
      <div class="body-copy w-richtext">
        <h1>New article</h1>
      </div>
    </div>
    <form data-name="Email Form" id="email-form" name="email-form">
      <label for="Name">Title</label>
      <%= form.text_field :title, class:"text-field w-input" %>
      <label for="Message">Message</label><p>
      <%= cktext_area :article, :text, cols: 40 %></p>
      <label for="Tags">Tags</label>
      <%= form.text_field :tag_list, placeholder: "Tags separated with comma", class:"text-field w-input" %>
      <%= form.submit 'Add the post', class:"button w-button" %>
      <% end %>
    </form>
  </div>
</div>