<%= render 'sidebar' %>
<div class="content">
  <div class="w-container">
    <div class="post-title-section">
      <h1><%= @article.title %></h1>
      <div class="post-info-wrapper">
        <div class="post-info"><%= @article.created_at.strftime("%d-%m-%y")%></div>
        <div class="post-info">|</div>
        <a class="post-info when-link" href="/categories/travel">Travel</a>
      </div>
    </div>
    <div class="body-copy w-richtext">
      <p><%= @article.text.html_safe %></p>
    </div>
  </div>
  <div class="post-info-wrapper">
    <div class="button-wrapper">
      <%= link_to 'Back', articles_path, class:"button w-button" %>
      <%= link_to 'Create PDF document', article_path(@article, :format => :pdf), 
                                          class:"button w-button" %>
      <%= link_to 'Edit', edit_article_path(@article), class:"button w-button" %>
      <%= link_to 'Delete', article_path(@article), class:"button w-button", 
                                method: :delete,
                                data: {confirm: 'Are you sure?'} %>
    </div>
  </div>
</div>
<!-- <h2>Comments</h2>
<%= render @article.comments %>
  
<h2>Add a comment:</h2>
<%= render 'comments/form' %> -->