<div class="login-page">
  <div class="login-form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, placeholder: "email", autofocus: true %>
    </div>
    <div class="field">
      <%= f.password_field :password, placeholder: "password", autocomplete: "off" %>
    </div>
      <%= f.submit "Log in" %>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>