<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src='//cdn.ckeditor.com/4.7.1/standard/ckeditor.js'</script>
    <script type="text/javascript">WebFont.load({
  google: {
    families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic","Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic","Fjalla One:regular"]
  }
});</script>

  </head>

  <body>
  <div id="header">
  <% if user_signed_in? %>
   <%= link_to('logout', destroy_user_session_path, method: :delete) %>
   <%= link_to('edit', edit_user_registration_path) %>
  <% else %>
  <%= link_to('login', new_user_session_path) %>
  <% end %>
</div>
    <%= yield %>
  </body>
</html>
