<title>Diary post</title>
  <%= wicked_pdf_stylesheet_link_tag "application" %>
</head>
<body>
  <div align="center" class="post-wrapper">
    <h2><%= @article.title %></h2>
  </div>
  <p class="block-with-text">
    <%= @article.text.html_safe %>
  </p>